* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: "Josefin Sans", sans-serif;
}

div {
  display: block;
}

body {
  height: 100vh;
}

.container {
  width: 90rem;
  max-width: 100%;
  margin: 0 auto;
}

.flex, .container, .form, .list-button-container, .todo__item, .todo__container {
  display: flex;
  align-items: center;
}

.button, .form__button, .list-container__button {
  display: inline-block;
  background-color: none;
  outline: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1rem;
  background-color: #a733a7;
  color: #fff;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  cursor: pointer;
}
.button:hover, .form__button:hover, .list-container__button:hover {
  filter: brightness(120%);
}

.input, .form__input {
  display: block;
  background-color: none;
  outline: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
}

.block {
  background-color: #171723;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  position: absolute;
  z-index: 999;
  padding: 0 6.5rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  gap: 2rem;
}

.header {
  padding: 10rem;
  height: 25rem;
  background-image: url("../dist/thumb-1920-520200.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0 60%;
  background-size: cover;
}

.layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 25rem;
  background-image: linear-gradient(to right, rgba(229, 138, 252, 0.7), rgba(185, 11, 185, 0.7));
}

.form {
  width: 20rem;
  max-width: 100%;
  font-size: 2rem;
  padding: 2rem;
  color: white;
  flex-direction: column;
  background-color: #313157;
  border-radius: 5px;
  box-shadow: 0.5rem 0.5rem 1.2rem 0 #0e0e0e;
}
.form__label {
  margin-bottom: 1rem;
}
.form__input {
  background-color: #212142;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  padding: 0.8rem 0.8rem;
  border-radius: 0.5rem;
}
.form__button {
  margin: 1rem 0 0 0;
}

.list-container {
  display: flex;
  width: 40rem;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-end;
  border-radius: 5px;
  background-color: #313157;
  box-shadow: 0.5rem 0.5rem 1.2rem 0 #0e0e0e;
}
.list-container__title {
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 2rem 0;
}
.list-container__button {
  font-size: 0.8rem;
  padding: 0.6rem 0.8rem;
}

.list {
  color: #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
  max-height: 30rem;
  overflow: auto;
}
.list-complete {
  color: #fff;
}
.list-complete.active {
  filter: brightness(200%);
  color: #3caf3c;
}
.list-button-container {
  padding: 1.5rem;
  width: 100%;
  justify-content: space-between;
  order: 3;
}

.todo__item {
  justify-content: space-between;
  cursor: grab;
  width: 100%;
  padding: 0.7rem 1.1rem;
  font-weight: lighter;
  background-color: #292942;
  border-bottom: 2px solid #424242;
  border: 2px inset transparent;
}
.todo__item:active {
  cursor: grabbing;
}
.todo__item[data-checkable=true] {
  /* background-color:rgb(60, 60, 143); */
  background-color: #313157;
}
.todo__item[data-checkable=true] .todo__container .todo__checkbox {
  /* background-color:rgb(60, 60, 143); */
  pointer-events: auto;
  cursor: pointer;
}
.todo__item[data-checkable=true] .todo__container .todo__checkbox:hover + .todo__checkmark {
  background-color: rgba(112, 112, 112, 0.8);
}
.todo__item[data-check=true] {
  /* background-color:rgb(60, 60, 143); */
  background-color: #3c3c8f;
}
.todo__container {
  gap: 0.5rem;
}
.todo__container--flex {
  justify-content: flex-end;
  gap: 1rem;
  width: 5%;
}
.todo__container--shrink {
  width: 95%;
  position: relative;
  z-index: 999;
}
.todo__checkbox {
  opacity: 0;
  /* position: absolute; */
  position: relative;
  overflow: hidden;
  z-index: 99999;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
.todo__checkbox:checked + .todo__checkmark {
  border: 1px solid transparent;
}
.todo__checkbox:checked + .todo__checkmark .todo__checkmark-img {
  display: block;
}
.todo__checkbox:checked:hover + .todo__checkmark .todo__checkmark-img {
  filter: brightness(125%);
}
.todo__checkmark {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  border: 1px solid #7e7e7e;
}
.todo__checkmark-img {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 99999;
}
.todo__span {
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.todo__checkbox {
  pointer-events: auto;
}
.todo__checkbox.active {
  pointer-events: auto;
}
.todo__button {
  display: inline-block;
  outline: none;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  background-color: transparent;
  color: #585858;
  cursor: pointer;
}

@media only screen and (max-width: 1250px) {
  .container {
    flex-direction: column;
  }

  .list {
    max-height: 350px;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 3rem;
  }

  .list-container__title {
    font-size: 1.5rem;
  }

  .list {
    max-height: 240px;
  }

  .form {
    padding: 1.5rem;
  }
  .form__label {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=index.css.map */
